.account_left_section,
.account_right_section {
  width: 95%;
  max-width: 350px;
}

.account_right_section {
  background-color: var(--turquoise);
  margin: 1rem 1rem 0 1rem;
  min-height: 250px;
  padding: 1rem;
  position: relative;
}

.account_left_section {
  margin: 0 1rem 1rem 1rem;
  border-radius: 0 0 1rem 1rem;
}

.options_account_container {
  background-color: #f8f9fa;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

.account_user_profile {
  padding-top: 1rem;
}

.account_user_profile figure {
  width: 100%;
  height: fit-content;
  display: grid;
  place-items: center;
}

.account_user_profile figure img {
  width: 70%;
  border: 2px solid var(--mediumBlue);
  height: fit-content;
  border-radius: 50%;
}

.options_account {
  justify-content: space-between;
  border-bottom: 1px solid #cfc9c9;
  height: 50px;
  align-items: center;
  padding: 0 0.4rem;
  max-width: 350px;
  cursor: pointer;
  color: #423f3f;
}

.icon_pad {
  padding-right: 0.5rem;
  color: var(--salmon);
}

.account_log_out {
  padding: 3rem 1rem;
}

.edit_account {
  position: absolute;
  top: 4%;
  right: 3%;
  color: #423f3f;
  cursor: pointer;
}
