.add_hotel_form {
  display: flex;
}

.text_inputs_container input,
select {
  width: 200px;
  height: 40px;
  background-color: var(--lighterBlue);
  border: none;
  border-radius: 0.3rem;
  padding: 1rem;
}

.radio_inputs input {
  margin: 0.5rem 1.2rem;
}

textarea {
  background-color: var(--lighterBlue);
  border: none;
  border-radius: 0.3rem;
  padding: 1rem;
  font-size: 0.8rem;
  margin-top: 0.4em;
}

@media (max-width: 768px) {
  .addHotel_form_submit {
    margin-top: 2rem;
  }

  .add_hotel_form {
    flex-direction: column;
  }

  .text_inputs_container {
    margin: 1rem;
    margin-bottom: 1rem;
  }

  .pet_type_input_container {
    width: 100vw;
    margin-top: 4rem;
  }

  .radio_input {
    width: 80px;
    margin: 1rem 2rem;
  }

  .pet_type_checkbox {
    place-content: center;
  }
}

@media (min-width: 769px) {
  .add_hotel_img {
    width: 80%;
    margin: 4rem 0rem;
  }

  .add_hotel_img img {
    margin: 0;
  }

  .hotel_data_input {
    width: 155px;
  }

  .add_hotel {
    margin: 2% 18% 0 0;
  }

  .add_hotel_btn_section {
    margin-top: 2rem;
  }

  .text_inputs_container {
    grid-template-columns: auto auto;
    margin: 0 2rem 0 0;
  }

  .text_inputs_container input,
  select {
    margin: 0.5rem;
  }

  .add_hotel_image {
    margin-left: 1rem;
  }

  .pet_type_input_container {
    margin: 1rem 1rem 0 0;
  }

  .pet_type_checkbox {
    display: flex;
    justify-content: space-evenly;
  }

  .services_checkbox {
    display: grid;
    grid-template-columns: auto auto auto auto;
  }
}

@media (min-width: 992px) {
  .add_hotel_div {
    margin-right: 10rem;
  }

  .add_hotel_image {
    margin-left: 10rem;
  }
}
