@media (max-width: 768px) {
  .addHotel_form_submit {
    margin-top: 2rem;
  }
}

@media (min-width: 769px) {
  .add_hotel_img {
    width: 80%;
  }

  .add_hotel_img img {
    margin: 0;
  }

  .add_hotel .signUp_title {
    padding: 0rem 0 0rem;
  }

  .add_hotel_img_container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 1rem 0 7rem;
  }

  .add_hotel input {
    width: 155px;
  }

  .add_hotel {
    margin: 2% 18% 0 0;
  }

  .add_hotel_btn_section{
    margin-top: 4rem;
  }
}
