/*Booking section*/

.preSubmmit_section {
  width: 90%;
  padding: 3rem 1rem;
}

.booking_container p {
  font-size: var(--fontSize-S);
}

.bookingSub_section {
  width: 90%;
  height: fit-content;
  border-radius: 1rem;
}

.bookingSub_section hr {
  width: 90%;
  border: 1px solid var(--lighterBlue);
  opacity: 1;
  margin: 0.5rem 0;
}

.bookingSub_img {
  width: 40%;
  height: fit-content;
  border-radius: 1rem;
  margin: 1rem;
}

.bookingSub_info_header {
  padding: 0.5rem 1rem 0 1rem;
  margin-top: 1rem;
}


