.favorites {
  gap: 4%;
  margin-top: 3rem;
}

.favorites_card {
  margin: 2rem;
} 

.card {
  border: none;
}

.card-img-top {
  border-radius: 1rem 1rem 0 0;
}

.favorites_title {
  margin: 1rem 0;
}

@media (max-width: 768px) {
  .favorites {
    grid-template-columns: auto;
    margin-top: 6rem;
    gap: 3%;
  }
}

@media (min-width: 992px) {
  .favorites {
    grid-template-columns: auto auto auto;
  }
}
