.footer {
  background: var(--darkBlue);
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: self-start;
  padding: 1rem;
}

.footer p,
.footer h5 {
  text-align: start;
}

.footer div {
  margin-top: 1.5rem;
}

.footer p {
  padding: 0.5rem 0;
}

@media (min-width: 769px) {
  .footer {
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 8%;
  }

  .pets-house-text {
    margin-left: 2rem;
  }
}

@media (min-width: 992px) {
  .footer div {
    margin-left: 5rem;
  }
}
