/*home section*/

.home_all_section {
  position: relative;
}

.home_all_section .title-font {
  position: absolute;
}

.home_hotels .card {
  width: 14rem !important;
}

.home_img_container {
  max-height: 450px;
  position: relative;
}

.home_image {
  max-height: 420px;
  object-fit: cover;
  object-position: top;
}

.home_hotels {
  justify-content: space-evenly;
}

.card-body {
  padding: 0.5rem;
}

.card-body hr {
  margin: 0.5rem;
}

.card-body p {
  margin: 0;
  font-size: 0.5rem;
}

.home_welcome_info {
  padding: 2rem;
  text-align: justify;
}

.vl-container {
  margin-bottom: 5rem;
}

.vl-container h4,
.vl-container p {
  width: 200px;
}

.value_space {
  border-radius: 0.3rem;
  width: 30%;
  padding: 1rem;
  transition: all 2s;
}

.detail_dates_container .entry_date,
.detail_dates_container .checkout_date {
  display: flex;
  flex-direction: column;
  justify-content: start;
  padding: 0.5rem;
}

.detail_dates_container .entry_date input,
.detail_dates_container .checkout_date input {
  min-width: 180px;
  height: 37px;
}

.detail_dates_container .entry_date label,
.detail_dates_container .checkout_date label {
  text-align: start;
}

@media (max-width: 768px) {
  .mobile_image {
    display: block;
    min-height: 260px;
    object-fit: cover;
    object-position: top;
  }

  .home_hotels {
    flex-wrap: wrap;
  }

  .home_image {
    display: none;
  }
}

@media (min-width: 769px) {
  .mobile_image {
    display: none;
  }

  .value_section {
    flex-direction: row;
    justify-content: space-evenly;
  }

  .vl-container {
    margin-bottom: 0;
  }

  .home_welcome_info {
    text-align: center;
  }
}
