/*home section*/
.home_hotels .card {
  width: 14rem !important;
}

.home_img_container {
  max-height: 450px;
  position: relative;
}

.home_image {
  max-height: 420px;
  object-fit: cover;
  object-position: top;
}

.home_hotels {
  justify-content: space-evenly;
}

.card-body {
  padding: 0.5rem;
}

.card-body hr {
  margin: 0.5rem;
}

.card-body p {
  margin: 0;
  font-size: 0.5rem;
}

.home_welcome_info {
  padding: 2rem;
  text-align: justify;
}

@media (max-width: 768px) {
  .home_hotels {
    flex-direction: column;
  }

  .home_image {
    display: none;
  }
}
