/*home section*/

.home_info {
  width: 60%;
  height: 180px;
  background-color: var(--salmon);
}

.home-bg-light {
  background-color: #a9d8e2;
}

.home_all_section {
  position: relative;
}

.home_all_section .title-font {
  position: absolute;
}

.home_hotels .card {
  width: 14rem !important;
}

.home_img_container {
  max-height: 450px;
  position: relative;
  margin: 0;
}

.mobile_img_container {
  margin: 0;
}

.home_image {
  max-height: 420px;
  object-fit: cover;
  object-position: top;
}

.home_hotels {
  justify-content: space-evenly;
}

.card-body {
  padding: 0.5rem;
}

.card-body hr {
  margin: 0.5rem;
}

.card-body p {
  margin: 0;
  font-size: 0.5rem;
}

.home_welcome_info {
  padding: 2rem;
  text-align: justify;
}

.vl-container {
  margin-bottom: 5rem;
}

.vl-container h4,
.vl-container p {
  width: 200px;
}

.value_space {
  border-radius: 0.3rem;
  width: 30%;
  padding: 1rem;
  transition: all 2s;
}

.detail_dates_container .entry_date,
.detail_dates_container .checkout_date {
  display: flex;
  flex-direction: column;
  justify-content: start;
  padding: 0.5rem;
}

.detail_dates_container .entry_date input,
.detail_dates_container .checkout_date input {
  min-width: 180px;
  height: 37px;
}

.detail_dates_container .entry_date label,
.detail_dates_container .checkout_date label {
  text-align: start;
}

.pets_cards {
  width: 180px;
  height: 180px;
  object-fit: cover;
}

.pets-cards-section {
  display: grid;
  place-items: center;
}

.pets_text_intro {
  padding: 2rem;
  background-color: var(--salmon);
}

.space {
  height: 150px;
}

@media (max-width: 768px) {
  .mobile_image {
    display: block;
    min-height: 260px;
    object-fit: cover;
    object-position: top;
  }

  .home_hotels {
    flex-wrap: wrap;
  }

  .home_image {
    display: none;
  }

  .mob-none {
    display: none;
  }

  .pets-cards-section {
    height: 1350px;
  }
}

@media (min-width: 769px) {
  .mobile_image {
    display: none;
  }

  .value_section {
    flex-direction: row;
    justify-content: space-evenly;
  }

  .vl-container {
    margin-bottom: 0;
  }

  .home_welcome_info {
    text-align: center;
  }

  .pets-cards-section {
    display: grid;
    place-items: center;
    margin: 2rem 0;
  }

  .pets_introCards {
    display: grid;
    grid-template-columns: auto auto auto;
    margin: 2rem 0;
  }

}
