.place_detail_info_section {
  width: 100vw;
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.place_detail_img {
  width: 90%;
  height: fit-content;
}

.place_detail_img img {
  width: 100%;
  height: 100%;
  border-radius: 1rem;
}

.reviewStar {
  color: var(--salmon);
  padding-left: 0.2rem;
}

.hotel_details_section {
  margin-bottom: 2rem;
}

.component2 {
  width: 100%;
  height: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.basicInfo {
  background-color: var(--lighterBlue);
  border-radius: 1rem;
  width: 90%;
  height: max-content;
  padding: 1rem;
  text-align: start;
}

.basicInfo p {
  margin: 0;
}

.basicInfo hr {
  height: 2px;
  color: var(--salmon);
  opacity: 1;
}

.place_detail_contact {
  padding: 0.3rem 0rem;
}

.hotelServices {
  margin: 2rem 0 0 0;
}

.hotelDescription {
  margin: 0;
  padding: 2rem;
}

.detail_services_section {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  width: 100%;
  padding: 2rem;
}

@media (max-width: 768px) {
  .place_details_booking {
    display: none;
  }

  .hotelDescription {
    text-align: justify;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
