.place_detail_img {
  width: 90%;
  height: fit-content;
}

.place_detail_img img {
  height: 100%;
  border-radius: 1rem;
}

.date_booking {
  min-width: 180px;
  min-height: 37px;
}

.reviewStar i {
  color: var(--salmon);
  padding-left: 0.2rem;
}

.hotel_details_section {
  margin-bottom: 2rem;
}

.basicInfo {
  border-radius: 1rem;
  width: 90%;
  height: max-content;
  text-align: start;
}

.basicInfo p {
  margin: 0;
}

.hr {
  height: 2px;
  color: var(--salmon);
  opacity: 1;
}

.place_detail_contact {
  padding: 0.3rem 0rem;
}

.hotelServices {
  margin: 2rem 0 0 0;
}

.hotelDescription {
  margin: 0;
  padding: 2rem;
}

.detail_services_section {
  flex-direction: column;
  justify-content: start;
  align-items: start;
  padding: 0 2rem;
}

.place_details_booking {
  display: block;
  min-width: 300px;
}

.detail_dates_container input {
  width: 150px;
  height: 40px;
}

.dates_div {
  flex-direction: column;
  padding: 0.5rem 1rem;
}

.detail_dates_container h5 {
  text-align: start;
  padding: 0 1rem;
}

.detail_services h5 {
  text-align: start;
  padding: 0.5rem 1rem;
}

.information_section {
  width: 85%;
}

.detail_price {
  justify-content: space-between;
  padding: 0.5rem 1rem;
}

.place_detail_img {
  width: 70%;
  height: fit-content;
}

.place_detail_img img {
  height: 100%;
  margin-top: 0.8rem;
}

.more_detail_images {
  width: 20%;
  height: fit-content;
}

.more_detail_images img {
  width: 100%;
  height: 100%;
  border-radius: 1rem;
  margin: 0.8rem 0 0.8rem 0.5rem;
}

.description_container {
  text-align: justify;
}

.description_container h2 {
  margin-bottom: 1rem;
}

.description_container p {
  padding: 2rem;
}

.modal-body {
  gap: 0.5%;
  display: grid;
  grid-template-columns: auto auto;
}

.service_container {
  font-size: 2em;
}

@media (max-width: 768px) {
  .hotel_detail_information {
    display: flex;
    justify-content: center;
  }

  .hotelDescription {
    text-align: justify;
  }

  .detail_dates_container input {
    width: 100px;
    height: 30px;
  }

  .hotel_detail_btn {
    margin-bottom: 2rem;
  }

  .detail_services_section {
    padding-left: 8rem;
  }

  .mg-4 {
    margin: 4rem 0;
  }

  .hotel_detail_preBooking {
    margin: 1rem 0 4rem 0;
  }
}

@media (min-width: 769px) {
  .hotel_detail_btn {
    display: none;
  }

  .place_detail_img {
    width: 50%;
    height: fit-content;
  }

  .information_section {
    justify-content: space-evenly;
    margin-left: 1rem;
  }

  .hotel_detail_information {
    min-width: 500px;
  }

  .place_details_booking {
    margin: 0 2rem;
  }

  .detail_services_section {
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    padding: 0;
  }
}

@media (min-width: 992px) {
  .place_detail_img {
    width: 40%;
  }
}
