:root {
  --salmon: #fb5652;
  --darkRed: #702625;
  --turquoise: #00968c;
  --lighterBlue: #def2f1;
  --darkBlue: #193236;
  --lightBlue: #90bcba;
  --blackLetters: rgb(19, 18, 18);
  --whiteLetters: #ffffff;
  --lightGrey: #a4b3b3;
  --btnRadius: 3px;
  --fontSize-XS: 1rem;
  --fontSize-S: 1.4rem;
  --fontSize-m: 2rem;
  --fontSize-L: 2.4rem;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: var(--whiteLetters);
}

a:hover {
  color: var(--whiteLetters);
}

.forms > input {
  display: block;
  margin: 20px auto;
}

body {
  width: 100vw;
  height: 100vh;
  font-size: 62.5%;
}

/*Navbar*/

.navbar_background {
  background-color: var(--darkBlue);
}

.signUp_Btn {
  border-color: var(--salmon);
  background-color: var(--salmon);
}

.signUp_Btn:hover {
  border-color: var(--darkRed);
  background-color: var(--darkRed);
}

.logIn_Btn {
  border-color: var(--lightBlue);
  background-color: var(--lightBlue);
  color: var(--blackLetters);
  margin-left: 1rem;
}

.logIn_Btn:hover {
  border-color: var(--turquoise);
  background-color: var(--turquoise);
}

/*login-signup*/

.modal_background {
  background-color: var(--darkBlue);
  color: var(--whiteLetters);
}

.password_forget {
  color: var(--whiteLetters);
  margin: 0;
}

.input-container {
  margin-top: 10%;
}

.input-container input {
  min-width: 180px;
  min-height: 40px;
  height: auto;
  border: none;
  border-radius: var(--btnRadius);
  background-color: var(--lighterBlue);
  padding: 2% 5%;
}

.img-container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.img-container img {
  width: 60%;
  height: fit-content;
}

.log-btn {
  min-width: 160px;
  height: 30px;
  border: none;
  border-radius: var(--btnRadius);
  background-color: var(--salmon);
}

.access_btn {
  margin: 1rem 0;
}

.logIn_access:hover {
  background-color: var(--darkRed);
}

.log_socialMedia {
  background-color: var(--lightBlue);
}

.log_socialMedia:hover {
  background-color: var(--turquoise);
}

.log_color {
  color: var(--whiteLetters);
  font-size: var(--fontSize-XS);
}

.btn-x {
  background-color: var(--salmon);
  padding: 0.5rem 1.5rem;
}

.btn-x:hover {
  background-color: var(--lightBlue);
}

.footer {
  height: 100px;
  margin: 0.4rem 0;
}

.signUp_title {
  margin-bottom: 3rem;
}

.img-container img {
  border-radius: 5rem;
  overflow: hidden;
}

/*Listing Hotels*/

.hotelListing_search_bar {
  background-color: var(--lighterBlue);
  height: fit-content;
  padding: 1rem;
  margin: 1rem;
  border: none;
  border-radius: 5px;
}

.listing_section {
  width: 100vw;
  height: max-content;
  display: grid;
  place-content: center;
  font-size: var(--fontSize-XS);
}

.radio_inputs {
  display: flex;
}

.radio_inputs input {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0.5rem 1.2rem;
}

.radio_inputs label {
  display: flex;
  justify-content: center;
}

.radio_input_container {
  margin-bottom: 1rem;
}

.listing_date_input {
  display: grid;
  grid-template-columns: auto auto;
}

.listing_date_input input {
  border: none;
  width: 150px;
  height: 40px;
  padding: 0.5rem;
}

.listing_section label {
  margin-bottom: 0.5rem;
}

.listing_search_bar {
  display: flex;
  flex-direction: column;
  margin: 0.5rem 0;
}

.listing_search_bar input {
  background-color: #ffa07a;
  border-radius: var(--btnRadius);
  border: none;
  width: 300px;
  height: 40px;
  padding: 0.5rem;
}

.radio_type_input {
  appearance: none;
  border: 1px solid var(--salmon);
  border-radius: 50%;
  width: 20px;
  height: 20px;
  cursor: pointer;
  outline: none;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.radio_type_input:before {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  background-color: var(--salmon);
  border-radius: 50%;
  opacity: 0;
}

.radio_type_input:checked:before {
  opacity: 1;
}

/*hotel listing cards*/

.hotel_image {
  border-radius: 12px 12px 0 0;
  position: relative;
}

.card_section {
  margin: 3rem 0;
  border: none;
  overflow: hidden;
}

.card-body {
  border-radius: 0 0 12px 12px;
  background-color: #285452;
  color: var(--whiteLetters);
}

.card-body h1 {
  font-size: var(--fontSize-S);
}

.card-body p {
  font-size: var(--fontSize-XS);
  display: flex;
  flex-direction: column;
}

.card-body hr {
  height: 2px;
  color: var(--lighterBlue);
  opacity: 1;
}

.contact_hotel {
  margin-bottom: 0.5rem;
}

.contact_hotel p {
  margin: 0;
}

.favorites_icon {
  position: absolute;
  font-size: var(--fontSize-S);
  right: 0.8rem;
  top: 0.6rem;
  color: var(--lighterBlue);
  opacity: 0.9;
}

.favorites_icon:hover {
  color: var(--salmon);
}

.listing_hotel_btn {
  width: 200px;
  height: 40px;
  background-color: var(--salmon);
  border: none;
}

.listing_hotel_btn:hover {
  background-color: var(--darkRed);
}

.hotel_listing_btnCotainer {
  display: grid;
  place-content: center;
  margin: 1rem;
}

.hotel_title_section {
  display: flex;
  justify-content: space-between;
}

.stars {
  margin-right: 0.3rem;
}

/*media queries*/

@media (min-width: 300px) {
  .input-container {
    display: grid;
    gap: 3%;
  }

  .inputs_section {
    display: grid;
    place-content: center;
    grid-template-columns: auto;
    gap: 3%;
  }

  .btn_container {
    min-width: 160px;
    display: grid;
    grid-template-columns: auto;
    gap: 4%;
    margin: 1rem 6rem;
  }

  .signup_img-container {
    display: none;
  }

  .access_btn {
    margin: 2rem 0;
  }

  .hotel_listing_container {
    display: grid;
    grid-template-columns: auto;
    place-content: center;
  }

  .hotelListing_search_bar {
    min-width: 300px;
  }

  .listing_section {
    grid-template-columns: auto;
  }
}

@media (min-width: 700px) {
  .signup_img-container {
    display: block;
  }

  .signup_img-container {
    width: 70%;
    height: fit-content;
    margin-left: 1rem;
    min-width: 300px;
  }

  .signup_img-container img {
    width: 100%;
  }

  .input-container {
    display: flex;
    margin-right: 1rem;
  }

  .signUp_title {
    margin-top: 0;
    margin-bottom: 6%;
  }

  .inputs_section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 6%;
  }

  .signup_info {
    margin: 2% 8% 0 0;
  }

  .access_btn {
    margin: 5rem 0 0.8rem 0;
  }

  .btn_container {
    display: grid;
    grid-template-columns: auto;
    place-content: center;
  }

  .google_signup_btn {
    margin-bottom: 6%;
  }

  .log-btn {
    min-width: 160px;
    height: 40px;
  }

  .access_btn {
    margin: 3rem 0 0.8rem 0;
  }
}

@media (min-width: 900px) {
  .signup_img-container img {
    width: 70%;
    min-width: 350px;
    height: fit-content;
    margin-left: 3rem;
  }

  .input-container {
    justify-content: center;
    margin-top: 6%;
    margin-left: 2rem;
  }

  .signup_info {
    margin: 2% 15% 0 2%;
  }

  .input-container input {
    min-width: 200px;
    min-height: 40px;
  }

  .log-btn {
    min-width: 200px;
    height: 40px;
  }

  .listing_section {
    display: flex;
  }

  .hotelListing_search_bar {
    min-width: 180px;
    margin: 3rem;
  }

  .listing_search_bar input {
    width: 280px;
  }

  .listing_date_input {
    grid-template-columns: auto;
    margin: 1rem 0;
  }

  .entry_date {
    margin: 1.5rem 0;
  }

  .entry_date label {
    padding-right: 0.6rem;
  }

  .checkout_date label {
    padding-right: 1.5rem;
  }
}

@media (min-width: 1200px) {
  .signup_img-container img {
    width: 70%;
    min-width: 400px;
    height: fit-content;
    margin-left: 10rem;
  }

  .hotel_listing_container {
    grid-template-columns: auto auto;
    gap: 0 5%;
    margin-right: 10%;
  }

  .listing_hotel_btn {
    width: 200px;
    height: 40px;
    background-color: var(--salmon);
    border: none;
  }
}
