@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;1,200;1,300;1,400;1,600;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200&display=swap");

:root {
  --salmon: #fb5652;
  --darkRed: #702625;
  --turquoise: #00968c;
  --lighterBlue: #def2f1;
  --darkBlue: #193236;
  --lightBlue: #90bcba;
  --blackLetters: rgb(19, 18, 18);
  --whiteLetters: #ffffff;
  --lightGrey: #a4b3b3;
  --btnRadius: 3px;
  --fontSize-XS: 1rem;
  --fontSize-S: 1.4rem;
  --fontSize-m: 2rem;
  --fontSize-L: 2.4rem;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: var(--whiteLetters);
}

a:hover {
  color: var(--whiteLetters);
}

.forms > input {
  display: block;
  margin: 20px auto;
}

body {
  width: 100vw;
  height: 100vh;
  font-family: "Montserrat", sans-serif;
  overflow-x: hidden;
}

.title-font {
  font-family: "Source Sans Pro", sans-serif;
}

input {
  font-size: 0.8rem;
  margin-top: 0.4em;
}
.input-error {
  font-size: 0.6rem;
  position: absolute;
  bottom: -14px;
  color: var(--salmon);
  display: block;
}


.date {
  display: flex;
  flex-direction: column;
}

.date select,
.date input {
  min-width: 135px;
  height: 40px;
  border: none;
}

.date label {
  display: flex;
  flex-direction: start;
}

/* ?? */

.signUp_title {
  padding: 0rem 0 3rem;
}

.signup_img-container img {
  border-radius: 3rem;
  overflow: hidden;
  margin-left: 2rem;
}


/*media queries*/

@media (max-width: 768px) {
  .hotel_listing_container {
    display: grid;
    grid-template-columns: auto;
    place-content: center;
  }

  .hotelListing_search_bar {
    min-width: 300px;
  }

}

@media (min-width: 769px) {
  .hotel_listing_container {
    display: grid;
    place-content: center;
  }
}

@media (min-width: 992px) {
  .listing_section {
    display: flex;
  }

  .hotelListing_search_bar {
    min-width: 180px;
    margin: 3rem;
  }

  .listing_search_bar input {
    width: 280px;
  }

  .listing_date_input {
    grid-template-columns: auto;
    margin: 1rem 0;
  }

  .entry_date {
    margin: 1.5rem 0;
  }

  .entry_date label {
    padding-right: 0.6rem;
  }

  .checkout_date label {
    padding-right: 1.5rem;
  }

  .booking_container {
    flex-direction: row;
  }

  .bookingSub_section {
    margin: 4rem;
  }

  .submit_space {
    min-height: 240px;
  }

  .preSubmmit_section {
    padding: 4rem;
  }

  .bookingSub_section {
    width: 85%;
  }
}

@media (min-width: 1200px) {
  .hotel_listing_container {
    grid-template-columns: auto auto;
    gap: 0 5%;
    margin-right: 10%;
  }

  .listing_hotel_btn {
    width: 200px;
    height: 40px;
    background-color: var(--salmon);
    border: none;
  }
}
