/*login-signup*/

.modal_background {
  background-color: var(--darkBlue);
  color: var(--whiteLetters);
}

.password_forget {
  color: var(--whiteLetters);
  margin: 0;
}

.input-container {
  display: grid;
  place-content: center;
  gap: 2%;
}

.input-container input {
  min-width: 200px;
  max-width: 220px;
  min-height: 40px;
  height: auto;
  border: none;
  border-radius: var(--btnRadius);
  background-color: var(--lighterBlue);
  padding: 2% 5%;
}

.login_logo_image {
  display: flex;
  justify-content: center;
  align-items: center;
}

.log-btn {
  min-width: 160px;
  border: none;
  border-radius: var(--btnRadius);
  background-color: var(--salmon);
}

.access_btn {
  margin: 1rem 0;
}

.logIn_access:hover {
  background-color: var(--darkRed);
}

.log_socialMedia {
  background-color: var(--lightBlue);
}

.log_socialMedia:hover {
  background-color: var(--turquoise);
}

.log_color {
  color: var(--whiteLetters);
  font-size: var(--fontSize-XS);
}

.btn-x {
  background-color: var(--salmon);
  padding: 0.5rem 1.5rem;
}

.btn-x:hover {
  background-color: var(--lightBlue);
}

.footer {
  height: 100px;
  margin: 0.4rem 0;
}

.signUp_title {
  padding: 0rem 0 3rem;
}
.signup-img-container {
  width: 100%;
  display: flex;
  justify-content: center;
}
.signup_img-container img {
  border-radius: 3rem;
  overflow: hidden;
  margin-left: 2rem;
}

@media screen and (max-width: 768px) {
  .login_logo_image img {
    width: 60%;
    height: fit-content;
  }

  .signup-input-container {
    display: grid;
    gap: 3%;
  }

  .inputs_section {
    display: grid;
    place-content: center;
    grid-template-columns: auto;
    gap: 3%;
  }

  .btn_container {
    min-width: 160px;
    display: grid;
    grid-template-columns: auto;
    gap: 4%;
    margin: 1rem 6rem;
  }

  .signup_img-container {
    display: none;
  }

  .access_btn {
    margin: 2rem 0;
  }
}

@media screen and (min-width: 769px) {
  .signup_img-container {
    display: block;
  }

  .signup_img-container {
    width: 70%;
    height: fit-content;
    margin-left: 1rem;
    min-width: 300px;
  }

  .signup_img-container img {
    width: 100%;
  }

  .signup-input-container {
    display: flex;
    margin-right: 1rem;
  }

  .input-container input {
    min-width: 180px;
  }

  .signUp_title {
    margin-top: 0;
    margin-bottom: 6%;
  }

  .inputs_section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 6%;
  }

  .signup_info {
    margin: 2% 4% 0 0;
  }

  .access_btn {
    margin: 5rem 0 0.8rem 0;
  }

  .btn_container {
    display: grid;
    grid-template-columns: auto;
    place-content: center;
  }

  .google_signup_btn {
    margin-bottom: 6%;
  }

  .log-btn {
    min-width: 160px;
  }
}

@media screen and (min-width: 992px) {
  .login_logo_image img {
    max-width: 210px;
    height: fit-content;
  }

  .signup_img-container img {
    width: 70%;
    min-width: 350px;
    height: fit-content;
    margin-left: 3rem;
  }

  .signup-input-container {
    justify-content: center;
    margin-top: 6%;
    margin-left: 2rem;
  }

  .signup_info {
    margin: 2% 15% 0 2%;
  }

  .signup-input-container input {
    min-width: 200px;
    min-height: 40px;
  }

  .log-btn {
    min-width: 200px;
  }
}

@media screen and (min-width: 1200px) {
  .signup_img-container img {
    width: 70%;
    min-width: 400px;
    height: fit-content;
    margin-left: 10rem;
  }
}
