/*login-signup*/
.forms {
  min-height: 600px;
}

.input-container {
  gap: 2%;
}

.input-container input,
select {
  width: 100%;
  max-width: 230px;
  min-height: 40px;
  height: auto;
  border: none;
  border-radius: var(--btnRadius);
  background-color: var(--lighterBlue);
  padding: 2% 5%;
}

.login_logo_image {
  margin-top: 2rem;
}

.log_socialMedia {
  height: fit-content;
  background-color: var(--turquoise);
  display: flex;
  justify-content: center;
  align-items: center;
}

.log_socialMedia:hover {
  background-color: var(--turquoise);
}

.btn-x {
  background-color: var(--salmon);
  padding: 0.5rem 1.5rem;
}

.btn-x:hover {
  background-color: var(--lightBlue);
}

.signup-img-container {
  width: 100%;
  display: flex;
  justify-content: center;
}
.signup_img-container img {
  border-radius: 2rem;
  overflow: hidden;
  margin-left: 2rem;
}

.signUp_title {
  padding: 0 0 1rem 0;
}

.log_in_buttons .general_button {
  min-width: 230px;
}

.log_in_buttons {
  margin: 1rem 0 3rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.google_log_in {
  margin: 1rem 0;
}

@media screen and (max-width: 768px) {
  .login_logo_image img {
    width: 60%;
    height: fit-content;
  }

  .signup-input-container {
    gap: 3%;
  }

  .inputs_section {
    display: grid;
    place-content: center;
    grid-template-columns: auto;
    gap: 3%;
    min-height: 32em;
  }

  .btn_container {
    max-width: 200px;
    gap: 4%;
  }

  .signup_img-container {
    display: none;
  }

  .access_btn {
    margin: 1.5rem 0;
  }

  .forms {
    min-height: 900px;
  }
}

@media screen and (min-width: 769px) {
  .signup_img-container {
    display: block;
  }

  .signup_img-container {
    width: 70%;
    height: fit-content;
    margin-left: 1rem;
    min-width: 330px;
    margin-top: 5rem;
  }

  .signup_img-container img {
    width: 85%;
  }

  .signup-input-container {
    display: flex;
    margin-right: 1rem;
  }

  .inputs_section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2%;
    min-height: 265px;
  }

  .signup_info {
    margin: 2% 4% 0 0;
  }

  .access_btn {
    margin: 5rem 0 0.8rem 0;
  }

  .btn_container {
    gap: 6%;
    place-content: center;
    margin-top: 1rem;
  }

  .google_signup_btn {
    margin-bottom: 6%;
  }

  .input-section {
    margin-left: 1rem;
  }

  .inputs_section input {
    width: 200px;
  }

  .sign_up_btns .general_button {
    min-width: 250px;
  }

  .owner_signup_img {
    min-width: 400px;
    margin-top: 5rem;
    display: flex;
    border-radius: 50%;
  }
}

@media screen and (min-width: 992px) {
  .login_logo_image img {
    max-width: 210px;
    height: fit-content;
  }

  .signup_img-container img {
    width: 70%;
    min-width: 350px;
    height: fit-content;
    margin-left: 3rem;
  }

  .signup-input-container {
    justify-content: center;
    margin-left: 2rem;
  }

  .signup_info {
    margin: 2% 15% 0 2%;
  }

  .signup-input-container input {
    min-width: 200px;
    min-height: 40px;
  }
}

@media screen and (min-width: 1200px) {
  .signup_img-container img {
    width: 70%;
    min-width: 400px;
    height: fit-content;
    margin-left: 10rem;
  }
}
