/*Navbar*/

.logo_image {
  width: 55%;
  margin-left: 1rem;
}

.navbar_background {
  background-color: var(--darkBlue);
}

.nav_buttons {
  display: flex;
}

.nav_buttons .blue_Btn {
  height: 37px;
}

.dropdown-toggle {
  height: 37px;
  margin-left: 1rem;
}

.navBar_cont {
  width: fit-content;
  margin: 0;
}

.nav_mob {
  flex-direction: column;
  align-items: self-start;
}

.hotel_link {
  padding-left: 0.5rem;
}

@media (min-width: 992px) {
  .hotel_link {
    padding: 0;
  }

  .nav_mob {
    flex-direction: row;
  }

  .navBar_cont {
    display: flex;
    justify-content: space-evenly !important;
    width: 75%;
    align-items: center;
  }
}
