.ownerHotels {
  display: grid;
  place-items: center;
}

.ownerHotels_container {
  flex-direction: column;
}

@media (min-width: 769px) {
  .ownerHotels_container {
    flex-direction: row;
  }
  .ownerHotels {
    grid-template-columns: auto auto;
  }

  .button_section {
    width: 200px;
    background-color: var(--darkBlue);
    border-top: 2px solid var(--turquoise);
  }

  .button_section button {
    width: 150px;
    margin: 1rem 0 1rem 0.5rem;
  }
}

@media (min-width: 992px) {
  .ownerHotels {
    grid-template-columns: auto auto auto;
  }
}
